<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header card-header-info ">
                <h4 class="card-title">{{action}} Airline</h4>
            </div>
            <div class="card-body">
                <form novalidate #registerAirline="ngForm" (submit)="onSubmit()">
                    <div>{{registerAirline.value | json}}</div>
                    <div>{{registerAirline.invalid}}</div>
                    <!-- <div class="form-group">
                        <input type="file" #logo="ngModel" [(ngModel)]="airlineModel.logo" name="logo"
                            class="form-control" placeholder="Upload Image">
                    </div> -->
                    <div class="form-group">
                        <input type="text" #name="ngModel" [(ngModel)]="airlineModel.name" name="name"
                            class="form-control" placeholder="Enter Name"
                            [class.has-danger]="name.invalid && name.touched" required>
                        <small class="text-danger" *ngIf="name.invalid && name.touched">This is
                            required field</small>
                    </div>
                    <div class="form-group">
                        <input type="text" #contactNo="ngModel" [(ngModel)]="airlineModel.contactNumber"
                            name="contactNo" class="form-control" placeholder="Contact Number"
                            [class.has-danger]="contactNo.invalid && contactNo.touched" pattern="[0-9]+"
                            required>
                        <small class="text-danger" *ngIf="!contactNo.valid && contactNo.touched">This is
                            required field</small>
                    </div>
                    <div class="form-group">
                        <input type="text" #address="ngModel" [(ngModel)]="airlineModel.address" name="address"
                            class="form-control" placeholder="Enter Address"
                            [class.has-danger]="address.invalid && address.touched" required>
                        <small class="text-danger" *ngIf="address.invalid && address.touched">This is
                            required field</small>
                    </div>

                    <button type="submit" [disabled]="registerAirline.invalid" mat-raised-button class="btn btn-info">Submit</button>
                    <button type="button" (click)="navigateViewAirline()" mat-raised-button class="btn btn-dark">Back</button>
                </form>
            </div>
        </div>

    </div>
</div>